.resourceBox {
  .resourceProgressBar {
    ul.loadbar {
      @media (max-width: 850px) {
        margin: 0 !important;
      }
    }
  }
}

.uberProgressbar > div,
.resourceProgressBar,
.researchProgressBar,
.constructionProgressBar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid #216b7e;
  background-image: none;

  ul,
  ul.loadbar,
  ul.loadbarConstruction,
  ul.loadbarResearch {
    float: none;
    width: 0%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgb(98, 196, 204);
    border-radius: 10px;
    min-width: 20px;
    transition-property: width;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    li {
      display: none;
    }
  }
}
